#selected_tables div.fields, #selected_tables div.jointure , div.selected_fields{
	
	width : 300px;
	border-color: #bbb #aaa #aaa;
    border-style: solid;
    border-width: 1px;
    box-shadow: 3px 3px 4px #ddd;
    float: left;
    margin: 0 5px 14px;
    
	
}
.fieldName {
	margin-top:10px;
	font-weight: bold;
	font-size:20px;
}
div.selected_fields{
	width:800px;	
}
#selected_tables div.fields {
	max-height:300px;
    overflow-y: auto;
}
.no-max-height {
	max-height:none;
}

#selected_tables table.jointure td[rel] {
	background-color: #eeffee;
}

div#results {
	float:left; 
	width:500px;

}

div#results textarea {
	width:100%;	
}


div.query {
	
	border-color: #bbb #aaa #aaa;
    border-style: solid;
    border-width: 1px;
    box-shadow: 3px 3px 4px #ddd;
    border-radius:15px;
	padding:20px;
	background-color: #EEFFEE;
}
